body {
    background: #f1f1f1;
    display: block;
}

main, article {
    background: #e1d6cf;
    border-radius: 15px;
    padding: 5px 15px;
    color: #2c3e50;
    max-width: 900px;
    display: block;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    border-bottom: 1px solid #9f9894;
    color: #393939;
}

footer {
    margin: 9px;
    text-align: center;
    opacity: 0.7;
    font-size: 0.8rem;
}

@media screen and (min-width: 30rem) {
    body {
        margin: 1rem 2rem;
    }
}